<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Добро пожаловать в нашу электронную библиотеку!</h1>
  <p>Зарегистрируйся и ты сможешь добавить книгу или автора, а другие пользователи смогут оставлять твоим книгам отзывы с рейтингами! Мы также ждем и твои отзывы :)</p>
  <p><%= link_to "Регистрация", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="nav-header">Категории книг</li>
                <% Category.all.each do |category|  %>
                    <li class="active"><%= link_to category.title, books_path(category: category.title), class: 'link' %> 
            </li>
            <% end %>
            <li class="nav-header">Авторы</li>
                <% Author.all.each do |author|  %>
                    <li><%= link_to author.name, books_path(author: author.name), class: 'link' %>  </li>
            <% end %>
    </ul>
  </div>

</div>
  

<div id="page-content-wrapper">
<div class="container-fluid">
  <div class="row">
    <h1>Все книги</h1>
  <% @books.each do |book| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag book.image.url(:medium), class: 'image'), book %>
        <div class="caption">
            <p><%= book.title %></p>
        </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
